version: '3'

services:
  db:
    image: mongo
    container_name: db
    restart: always
    environment: 
     - MONGO_INITDB_ROOT_USERNAME=dio
     - MONGO_INITDB_ROOT_PASSWORD=dio
    ports:
     - '27017:27017'
    volumes:
     - /c/Users/gvsta/Documents/coding/santander/diojava/santanderbootcamp/src/edu/gustavo/docker:/data/db
